<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="InventoryUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Token" value=""/>
    <add key="Host" value=""/>
    <add key="Port" value=""/>
    <add key="PathAuth" value="AuthServices/AuthService.svc/Authenticate"/>
    <add key="PathBatteries" value="BatteryServices/BatteryService.svc/GetSelectedBatteries"/>
    <add key="PathBatterySelected" value="BatteryServices/BatteryService.svc/GetSelectedBatteryData"/>
    <add key="PathBatteriesAdd" value="BatteryServices/BatteryService.svc/AddBattery"/>
    <add key="PathBatteryEdit" value="BatteryServices/BatteryService.svc/EditBattery"/>
    <add key="PathItemsAll" value="ToolServices/ToolService.svc/GetCustomItems"/>
    <add key="PathItemsAdd" value="ToolServices/ToolService.svc/AddNewItem"/>
    <add key="PathItemsAddWithImage" value="ToolServices/ToolService.svc/AddNewItemImage"/>
    <add key="PathItemsEdit" value="ToolServices/ToolService.svc/EditItem"/>
    <add key="PathItemsCustom" value="ToolServices/ToolService.svc/GetSelectedItem"/>
    <add key="PathJobsAll" value="JobServices/JobService.svc/GetCustomJobData"/>
    <add key="PathJobsAdd" value="JobServices/JobService.svc/AddNewJob"/>
    <add key="PathJobsEdit" value="JobServices/JobService.svc/EditJob"/>
    <add key="PathJobSelected" value="JobServices/JobService.svc/GetSelectedJobData"/>
    <add key="PathDataForJobCreate" value="JobServices/JobService.svc/GetAllDataForJobCreate"/>
  </appSettings>
  <connectionStrings>
    <add name="GyrodataTracker" connectionString="Server=.;Database=GyrodataTracker;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <!--<add name="GyrodataTracker" connectionString="Server=EHSW7WSA4550\SQLEXPRESS;Database=GyrodataTracker;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <InventoryUI.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>0</value>
            </setting>
        </InventoryUI.Properties.Settings>
    </userSettings>
</configuration>